/* global */
body {
  width: auto;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.877);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-right: 25px;
}


/* gNav */
.globalNav {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1400px;
}
.globalNav .contents__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 60px;
  background-color: rgb(255, 255, 255);
}
.globalNav .contents__wrap .contents__menu {
  display: flex;
  align-items: center;
}
.globalNav .contents__wrap .contents__lists {
  display: flex;
}
.globalNav .contents__wrap li {
  margin-right: 0%;
}
.container {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
  color: inherit;
}


/* posts */
.posts_wrapper {
  box-shadow: 2px 3px 1px 0 rgba(0, 0, 0, .1), -2px 3px 1px 0 rgba(0, 0, 0, .1);
  width: calc(100% - 80px);
  background-color: #fff;
  margin: 1%;
  padding: 1%;
  transition: all 0.3s ease-out;
}
.posts_wrapper:hover {
  box-shadow: 3px 5px 2px 0 rgba(0, 0, 0, 0.3), -3px 5px 2px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.fs-10 {
  font-size: 10px;
}
.chat_message--container{
  width: 90%;
  margin: 0 auto;
}
.chat_message--wrap {
  background-color: #fff;
  margin: 1%;
  padding: 1%;
}
.dashboard__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 3%;
}
.dashboard__parts--wrapper {
  background-color: #fff;
  width: 30%;
  padding: 1% 2%;
  margin: 2%;
  box-shadow: 5px 5px 2px 0 rgba(168, 168, 168, .5);
}
.dashboard__parts {
  margin: 1% auto;
}


/* Show Post */
.applicant a {
  border: solid 1px;
  border-radius: 3px;
  padding: 2px 1%;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
}


/* posts.create */
.form__post-title {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  border: 2px solid #ddd;
}
.form__post-content {
  margin-top: 3%;
  width: 100%;
  padding: 10px 15px;
  border-radius: 3px;
  border: 2px solid #ddd;
  font-size: 14px;
}
.form__post-btn__wrapper {
  padding-top: 5%;
  text-align: center;
}
.form__post-submit {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(105, 162, 255, .8);
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  width: 180px;
  height: 55px;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

/* confirm */
.conf-post__wrap {
  display: none;
}
.conf-modal__overlay {
  position: absolute;
  background-color: rgba(200, 200, 200, .8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
}
.conf-post__content {
  position: fixed;
  z-index: 99;
  background-color: rgba(255, 255, 255, 1);
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
}
